<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content/>
    <link rel="shortcut icon" href="梁.ico" />
    <!-- ico图标的引入 -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <!-- 公共样式的引入 -->
    <link rel="stylesheet" type="text/css" href="css/wenzi.css">
    <!-- 当前页面的样式引入 -->
    <title>新闻管理-管理员后台</title>
    <!-- 网页的标题，搜索引擎的入口 -->
</head>

<body>
    <!-- 快捷导航栏 -->
    <div class="shourcut">
        <div class="wrap">
            <!-- login -->
            <div class="login fl">
                <a href="#">后台管理系统</a>
            </div>
            <!-- nav -->
            <ul class="nav fr">
                <li>
                    <a href="">后台管理界面欢迎您！</a>
                </li>
                <li class=" line "></li>
                <li>
                    <a href="../index.php" target="_blank">前台展示</a>
                </li>
                <li class="line "></li>
                <li>
                    <a href="../guanyu.php" target="_blank">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 搜索分区 -->
    <div class="search">
        <div class="wrap">
            <!--logo分区-->
            <h1 class="logo fl">
                LSTOOSLS
                <!-- <img src="img/logo.png" alt=""> -->
            </h1>
            <!--图标分区-->
            <ul class="tupiao fr">
                <a href="">
                    <li>
                        <span class="iconfont">&#xe627;</span>
                    </li>
                </a>
                <li class="line "></li>
                <a href="">
                    <li>
                        <span class="iconfont">&#xe65f;</span>
                    </li>
                </a>
                <li class="line "></li>
                <a href="">
                    <li>
                        <span class="iconfont">&#xe61b;</span>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <!--内容分区-->
    <div class="Navbar">
        <div class="wrap">
            <!--左侧导航栏分区-->
            <ul class="lefthand fl">
                <a href="index.php">
                    <span class="iconfont">&#xe651;</span>
                    <li>HOME</li>
                </a>

                <li id="g33">功 能 区</li>

                <a href="wenzi.php">
                    <span class="iconfont">&#xe64a;</span>
                    <li>新闻管理</li>
                </a>
                <a href="tupian.php">
                    <span class="iconfont">&#xe62a;</span>
                    <li>产品管理</li>
                </a>
                <a href="fankui.php">
                    <span class="iconfont">&#xe60b;</span>
                    <li>客户反馈</li>
                </a>
                <a href="chakan.php">
                    <span class="iconfont">&#xe8c2;</span>
                    <li>查看管理员信息</li>
                </a>
                <!-- <a href="xiugai.php">
                    <span class="iconfont">&#xe60b;</span>
                    <li>修改管理员信息</li>
                </a> -->
                <a href="xiugai2.php">
                    <span class="iconfont">&#xe64f;</span>
                    <li>修改管理员密码</li>
                </a>
                <a href="zhuxiao.php">
                    <span class="iconfont">&#xe638;</span>
                    <li>退出登录</li>
                </a>
            </ul>
            <!--右侧内容分区-->
            <div class="content">
                <div class="offside">
                    <p>新闻管理</p>
                    <div class="sousuo">
                        <form method="POST" action="sousuo.php">
                            <input type="search" name="search" placeholder="请输入标题">
                            <button type="submit" name="sousuo">搜索新闻</button>
                        </form>
                        <button type="button" class="tianjia" onclick="window.location='add.php'" ; style="margin-left: 0px;margin-top: 20px;">添加新闻</button>

                    </div>
                    <div class="more">
                        <table class="gridtable">
                            <tr>
                                <th>ID</th>
                                <th>新闻标题</th>
                                <th>新闻内容</th>
                                <th>图片地址</th>
                                <th>发表时间</th>
                                <th>操作</th>
                            </tr>
                            <?php while($row = mysql_fetch_array($result)) {?>
                            <tr>
                                <td>
                                    <?php echo $row['id'];?>
                                </td>
                                <td>
                                    <?php echo $row['title'];?>
                                </td>
                                <td>
                                    <?php echo $row['content'];?>
                                </td>
                                <td>
                                    <img src="<?=$row['thumb']?>" style="height: 30px;width: 30px;" />
                                </td>
                                <td>
                                    <?php echo $row['time'];?>
                                </td>
                                <td>
                                    <a href="edit.php?id=<?php echo $row['id'];?>">修改</a>
                                    <a href="del.php?id=<?php echo $row['id'];?>">删除</a>
                                </td>
                            </tr>
                            <?php    }?>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>