<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content/>
    <link rel="shortcut icon" href="梁.ico" />
    <!-- ico图标的引入 -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <!-- 公共样式的引入 -->
    <link rel="stylesheet" type="text/css" href="css/chanpin.css">
    <!-- 当前页面的样式引入 -->
    <title>产品展示-长沙市梁四工具有限公司</title>
    <!-- 网页的标题，搜索引擎的入口 -->
</head>
<style>
    .content .chanpin-contet-left .x-text2 li:first-child a {
        color: #fff;
        background-color: chocolate;
    }
</style>

<body>
    <!-- 快捷导航栏 -->
    <div class="shourcut">
        <div class="wrap">
            <!-- login -->
            <div class="login fl">
                <a href="#">梁四工具 </a>
                <a href="#">专业制造电动工具</a>
            </div>
            <!-- nav -->
            <ul class="nav fr">
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li>
                    <!-- <span class="iconfont">&#xe63c;</span> -->
                    <a href="guanyu.php">公司简介</a>
                </li>
                <li>
                    <a href="lianxi.php">联系我们</a>
                    <span class="iconfont">&#xe657;</span>
                </li>
                <li class="line"></li>
                <li class="item_mobile">
                    <!-- <span class="iconfont">&#xe615;</span> -->
                    <a href="kehu.php">客户服务</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 搜索分区 -->
    <div class="search">
        <div class="wrap">
            <!--logo分区-->
            <h1 class="logo fl">
                梁四工具
            </h1>
            <!-- search分区 -->
            <div class="search-center fl">
                <!--表单搜索分区-->
                <div class="soso">
                    <form action="">
                        <input type="search" placeholder="输入关键词" autofocus class="fl" />
                        <input type="button" value="搜索" class="fl">
                    </form>
                </div>
                <!-- 子导航分区 -->
                <ul class="nav-list">
                    <li><a href="#">指电钻</a></li>
                    <li><a href="#">磁座钻</a></li>
                    <li><a href="#">攻丝机</a></li>
                    <li><a href="#">电剪刀</a></li>
                    <li><a href="#">电动刀锯</a></li>
                    <li><a href="#">切割机</a></li>
                    <li><a href="#">砂轮机</a></li>
                    <li><a href="#">磨光机</a></li>
                    <li><a href="#">电板手</a></li>
                    <span>&nbsp;&nbsp;...</span>
                </ul>
            </div>
            <!--联系电话分区-->
            <div class="phone fl">
                <span class="iconfont" id="gouwu">&#xe611;</span>
                <span class="lxdh">联系电话：
                    <br>1815379916</span>
            </div>
        </div>
    </div>
    <!-- navitems -->
    <div class="navs">
        <div class="wrap">
            <ul>
                <li class="dropdown fl"><a href="index.php">首页</a></li>
            </ul>
            <ul class="navitems fl">
                <li><a href="guanyu.php">关于我们</a></li>
                <li><a href="chanpin.php">产品展示</a></li>
                <li><a href="xinwen.php">新闻资讯</li>
                <li><a href="kehu.php">客户中心</a></li>
                <li><a href="chenggong.php">成功案例</a></li>
                <li><a href="lianxi.php">联系我们</a></li>
            </ul>
            <div class="divlist">

            </div>
        </div>
    </div>
    <!--banner分区-->
    <div class="banner">
        <div class="wrap">
            <div class="banner_text">
                <h2 class="banner_t">产品展示</h2>
                <b></b>
                <p class="banner_p">LSGJ，专业与传承</p>
                <a href="#mao1"><i></i></a>
            </div>
        </div>
    </div>
    <!--content-->
    <div class="content">
        <div class="wrap">
            <!--左侧栏目-->
            <div class="chanpin-contet-left fl">
                <a name="mao1"></a>
                <div class="title">
                    产品展示
                    <span>about</span>
                </div>
                <div class="x-text">
                    <ul class="x-text2">
                        <li><a href="chanpin.php">
                            产品展示
                            <span style="color: #999;">＞</span>
                        </a></li>
                        <li><a href="chanpin_shi.php">
                            视频剪影
                            <span style="color: #999;">＞</span>
                        </a></li>
                        <!-- <li><a href="#">
                            DCA品牌
                            <span style="color: #999;">＞</span>
                        </a></li>
                        <li><a href="#">
                            家居家装/DIY
                            <span style="color: #999;">＞</span>
                        </a></li> -->
                    </ul>
                </div>
            </div>
            <!--右侧内容-->
            <div class="chanpin-contet-right fr">
                <div class="right-title">
                    <div class="mbx">
                        你现在的位置：首页 > 产品展示
                    </div>
                </div>
                <div class="bottom-cont">
                    <div class="cont">
                        <!--搜索框-->
                        <div class="sousuo">
                            <form method="POST" action="sousuo.php">
                                <input type="hidden" name="a" value="search">
                                <input type="text" name="search" placeholder="搜索产品" class="sousuo_input keyword">
                                <button class="sousuo_btn" name="sousuo">搜 索</button>
                            </form>
                        </div>
                        <!--产品内容分区-->
                        <div class="cont-news fl">
                            <ul class="pro_list">
                                <?php while($row = mysql_fetch_array($rs_result)) {?>
                                <li>
                                    <a href="chanpin_cont.php?id=<?php echo $row['id'];?>">
                                        <div class="pic">
                                            <img src="<?=$row['path']?>" />
                                            <!-- <img src="upload/5e8bdb90e111e.jpg"> -->
                                            <span><img src="img/fdj.png"></span>
                                        </div>
                                        <div class="title">
                                            <h5>
                                                <?php echo $row['id'];?>
                                                <?php echo $row['name'];?>
                                            </h5>
                                            <p><b></b></p>
                                        </div>
                                    </a>
                                </li>
                                <?php    }?>
                                <!-- <li>
                                    <a href="#">
                                        <div class="pic"><img src="upload/5e8bd5b408ce2.png"><span><img src="img/fdj.png"></span></div>
                                        <div class="title">
                                            <h5>充电式无刷细手柄角向磨光机DCSM03-100E</h5>
                                            <p><b></b></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pic"><img src="upload/5e8bd37e97d94.png"><span><img src="img/fdj.png"></span></div>
                                        <div class="title">
                                            <h5>充电式无刷细手柄角向磨光机DCSM02-100E</h5>
                                            <p><b></b></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pic"><img src="upload/5e8bd2191a3ff.png"><span><img src="img/fdj.png"></span></div>
                                        <div class="title">
                                            <h5>充电式电锤DCZC04-24(E型）</h5>
                                            <p><b></b></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pic"><img src="upload/5e8bd00671db5.png"><span><img src="img/fdj.png"></span></div>
                                        <div class="title">
                                            <h5>充电式电锤DCZC02-24(H型）/DCZC02-24(H2型）</h5>
                                            <p><b></b></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pic"><img src="upload/5e8bccf3b13dc.png"><span><img src="img/fdj.png"></span></div>
                                        <div class="title">
                                            <h5>充电式电锤DCZC22(B型）</h5>
                                            <p><b></b></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pic"><img src="upload/5e8ae8df00af1.jpg"><span><img src="img/fdj.png"></span></div>
                                        <div class="title">
                                            <h5>充电式无刷冲击扳手DCPB298(B型） </h5>
                                            <p><b></b></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pic"><img src="upload/5e8ae5e048566.jpg"><span><img src="img/fdj.png"></span></div>
                                        <div class="title">
                                            <h5>充电式无刷冲击扳手DCPB280(H型） </h5>
                                            <p><b></b></p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pic"><img src="upload/5e8ae42e37e7a.png"><span><img src="img/fdj.png"></span></div>
                                        <div class="title">
                                            <h5>充电式无刷冲击扳手DCPB280(B型） </h5>
                                            <p><b></b></p>
                                        </div>
                                    </a>
                                </li> -->

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--尾部-->
    <div class="footer">
        <div class="wrap">
            <!--指南-->
            <div class="guide">
                <div class="wrap">
                    <ul>
                        <li>关于我们</li>
                        <li>公司简介</li>
                        <li>企业文化</li>
                        <li>荣誉资质</li>
                        <li>视频剪影</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>产品展示</li>
                        <li>新品上市</li>
                        <li>热卖推荐</li>
                        <li>电动工具</li>
                        <li>仪器工具</li>
                        <li>手动工具</li>
                        <li>附件</li>
                    </ul>
                    <ul>
                        <li>新闻资讯</li>
                        <li>品牌动态</li>
                        <li>行业资讯</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>客户中心</li>
                        <li>营销网络</li>
                        <li>防伪查询</li>
                        <li>下载专区</li>
                        <li>客户反馈</li>
                        <li>梁四百科</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>联系我们</li>
                        <li>联系方式</li>
                        <li>公司总部</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>帮助中心</li>
                        <li><img src="" alt=""></li>
                        <li>梁四官方微信</li>
                    </ul>
                </div>
            </div>
            <!--联系我们-->
            <div class="about">
                <div class="warp">
                    <ol>
                        <li>
                            <a href="#">关于我们</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>
                        </li>
                        <li>
                            <a href="#">公司简介</a>
                        </li>
                        <li>
                            <a href="#">企业文化</a>
                        </li>
                        <li>
                            <a href="#">梁四品牌</a>
                        </li>
                        <li>
                            <a href="#">新闻资讯</a>
                        </li>
                        <li>
                            <a href="#">友情链接</a>
                        </li>
                        <li>
                            <a href="#">产品视频</a>
                        </li>
                        <li>
                            <a href="#">工具社区</a>
                        </li>
                        <li>
                            <a href="#">梁四公益</a>
                        </li>
                        <li>
                            <a href="#">我们的服务</a>
                        </li>
                        <li>
                            <a href="#">Contact U</a>
                        </li>
                    </ol>
                    <p>地址：长沙市望城区丁字新镇南区c1栋 邮编：410200 电话：18182102306 邮箱:1263609326@qq.com</p>
                    <p>京ICP备08001421号京公网备110108007702</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>