<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="网站的描述" content="网站的内容"/> -->
    <meta name="description" content="长沙市梁四电动工具制造有限公司，专业制造各种中高档的电动和手动汽保工具，拥有丰富的电动制造经验，技术力量雄厚，具有先进的制造设备和检测仪器，产品款式新颖，规格齐全，质量可靠。" />
    <!-- 关键词 6-8 -->
    <meta name="keywords" content="五金工具,电动工具" />
    <link rel="shortcut icon" href="梁.ico" />
    <!-- ico图标的引入 -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <!-- 公共样式的引入 -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <!-- 当前页面的样式引入 -->
    <title>长沙市梁四工具有限公司</title>
    <!-- 网页的标题，搜索引擎的入口 -->

</head>

<body>
    <!-- 快捷导航栏 -->
    <div class="shourcut">
        <div class="wrap">
            <!-- login -->
            <div class="login fl">
                <a href="#">梁四工具 </a>
                <a href="#">专业制造电动工具</a>
            </div>
            <!-- nav -->
            <ul class="nav fr">
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li>
                    <!-- <span class="iconfont">&#xe63c;</span> -->
                    <a href="guanyu.php">公司简介</a>
                </li>
                <li>
                    <a href="lianxi.php">联系我们</a>
                    <span class="iconfont">&#xe657;</span>
                </li>
                <li class="line"></li>
                <li class="item_mobile">
                    <!-- <span class="iconfont">&#xe615;</span> -->
                    <a href="kehu.php">客户服务</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 搜索分区 -->
    <div class="search">
        <div class="wrap">
            <!--logo分区-->
            <h1 class="logo fl">
                梁四工具
            </h1>
            <!-- search分区 -->
            <div class="search-center fl">
                <!--表单搜索分区-->
                <div class="soso">
                    <form action="">
                        <input type="search" placeholder="输入关键词" autofocus class="fl" />
                        <input type="button" value="搜索" class="fl">
                    </form>
                </div>
                <!-- 子导航分区 -->
                <ul class="nav-list">
                    <li><a href="#">指电钻</a></li>
                    <li><a href="#">磁座钻</a></li>
                    <li><a href="#">攻丝机</a></li>
                    <li><a href="#">电剪刀</a></li>
                    <li><a href="#">电动刀锯</a></li>
                    <li><a href="#">切割机</a></li>
                    <li><a href="#">砂轮机</a></li>
                    <li><a href="#">磨光机</a></li>
                    <li><a href="#">电板手</a></li>
                    <span>&nbsp;&nbsp;...</span>
                </ul>
            </div>
            <!--联系电话分区-->
            <div class="phone fl">
                <span class="iconfont" id="gouwu">&#xe611;</span>
                <span class="lxdh">联系电话：
                    <br>1815379916</span>
            </div>
        </div>
    </div>
    <!-- navitems -->
    <div class="navs">
        <div class="wrap">
            <ul>
                <li class="dropdown fl"><a href="index.php">首页</a></li>
            </ul>
            <ul class="navitems fl">
                <li><a href="guanyu.php">关于我们</a></li>
                <li><a href="chanpin.php">产品展示</a></li>
                <li><a href="xinwen.php">新闻资讯</li>
                <li><a href="kehu.php">客户中心</a></li>
                <li><a href="chenggong.php">成功案例</a></li>
                <li><a href="lianxi.php">联系我们</a></li>
            </ul>
            <div class="divlist">

            </div>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <div class="wrap">
            <!--轮播图-->
            <div class="banner fl">
                <ul>
                    <li>
                        <a href="#"><img src="upload/banner-1.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="upload/banner-2.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="upload/banner-3.png" alt=""></a>
                    </li>
                    <!--<li>
                        <a href="#"><img src="upload/banner-4.png" alt=""></a>
                    </li>-->
                    <li>
                        <a href="#"><img src="upload/banner-1.png" alt=""></a>
                    </li>
                </ul>
                <!--左右按键-->
                <div class="arrw-l">＜</div>
                <div class="arrw-r">＞</div>

                <!--轮播图的小圆点-->
                <ol>
                    <li class="current"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
        </div>
    </div>
    <!--小标题分区-->
    <div class="title">
        <div class="wrap">
            <div class="xtitle">
                <i class="mark-left"></i>
                <h2>梁四电动工具</h2>
                <i class="mark-right"></i>
                <h3>专业制造各种中高档的挡圈钳和手动汽保工具，拥有丰富的设计研制经验，技术力量雄厚，具有先进的制造设备和检测仪器，产品款式新颖，规格齐全，质量可靠。
                </h3>
            </div>
        </div>
    </div>
    <!-- 品牌定制分区 -->
    <div class="brand">
        <div class="wrap">
            <ul>
                <li class="current">OME品牌定制</li>
                <li>
                    <p class="text fl">
                        <span>汽车机械钳</span>
                        <span>梁四工具</span>
                        <span>防电击</span>
                        <span>无敌啊</span>
                    </p>
                    <div class="images fl">
                        <img src="upload/list-1.png" alt="">
                    </div>
                </li>
                <li>
                    <p class="text fl">
                        <span>充电式电钻</span>
                        <span>梁四工具</span>
                        <span>转螺丝</span>
                        <span>专业级</span>
                    </p>
                    <div class="images fl">
                        <img src="upload/dianzuan.png" alt="">
                    </div>
                </li>
                <li>
                    <p class="text fl">
                        <span>充电式电锤</span>
                        <span>梁四工具</span>
                        <span>冲击钻孔</span>
                        <span>专业级</span>
                    </p>
                    <div class="images fl">
                        <img src="upload/dianchui.png" alt="">
                    </div>
                </li>
                <li>
                    <p class="text fl">
                        <span>直磨机</span>
                        <span>梁四工具</span>
                        <span>研磨金属</span>
                        <span>专业级</span>
                    </p>
                    <div class="images fl">
                        <img src="upload/zhimoji.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 产品展示分区 -->
    <div class="Product">
        <div class="wrap">
            <div class="title">
                <div class="like fl">随机系列产品展示</div>
                <div class=" like-right fr">换一批</div>
            </div>
            <ul>
                <li>
                    <a href="">
                        <div class="img">
                            <img src="upload\list-1.png" alt="">
                        </div>
                        <div class="text">
                            <div class="box">
                                <p>阳光新款钳子</p>
                                <p>微形钳</p>
                                <p>新品上市</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img">
                            <img src="upload\list-2.png" alt="">
                        </div>
                        <div class="text">
                            <div class="box">
                                <p>阳光新款钳子</p>
                                <p>铁塔钳</p>
                                <p>热卖推荐</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img">
                            <img src="upload\list-3.png" alt="">
                        </div>
                        <div class="text">
                            <div class="box">
                                <p>阳光新款钳子</p>
                                <p>木工钳</p>
                                <p>新品上市</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img">
                            <img src="upload\list-4.png" alt="">
                        </div>
                        <div class="text">
                            <div class="box">
                                <p>阳光新款钳子</p>
                                <p>不知名钳子</p>
                                <p>热卖推荐</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img">
                            <img src="upload\list-2.png" alt="">
                        </div>
                        <div class="text">
                            <div class="box">
                                <p>阳光新款钳子</p>
                                <p>铁塔钳</p>
                                <p>新品上市</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img">
                            <img src="upload\list-2.png" alt="">
                        </div>
                        <div class="text">
                            <div class="box">
                                <p>阳光新款钳子</p>
                                <p>铁塔钳</p>
                                <p>热卖推荐</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--走进梁四-->
    <div class="indexabout">
        <div class="wrap">
            <div class="indexabout-left fl">
                <img src="upload/zoujin.png" alt="">
            </div>
            <div class="indexabout-right fr">
                <h1>走进梁四</h1>
                <p>长沙市梁四工具制造有限公司，位于全国文明城市，著名的中国五金之镇——湖南省长沙市大新镇，紧靠苏锡常沪等地区，北靠长江，西临保税区，水陆交通便捷。本公司历史悠久，成立于1999年，专业制造各种中高档的挡圈钳和手动汽保工具，拥有丰富的设计研制经验，技术力量雄厚，具有先进的制造设备和检测仪器，产品款式新颖，规格齐全，质量可靠，远销欧美、东南亚等国家和地区。公司始终以完美的品质，优良的服务，合理的价格，赢得了广大客户的认可和好评。</p>
            </div>
            <div class="indexabout-last fr">
                <a href="guanyu.php">
                    详情进入
                </a>
            </div>
        </div>
    </div>
    <!--尾部-->
    <div class="footer">
        <div class="wrap">
            <!--指南-->
            <div class="guide">
                <div class="wrap">
                    <ul>
                        <li>关于我们</li>
                        <li>公司简介</li>
                        <li>企业文化</li>
                        <li>荣誉资质</li>
                        <li>视频剪影</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>产品展示</li>
                        <li>新品上市</li>
                        <li>热卖推荐</li>
                        <li>电动工具</li>
                        <li>仪器工具</li>
                        <li>手动工具</li>
                        <li>附件</li>
                    </ul>
                    <ul>
                        <li>新闻资讯</li>
                        <li>品牌动态</li>
                        <li>行业资讯</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>客户中心</li>
                        <li>营销网络</li>
                        <li>防伪查询</li>
                        <li>下载专区</li>
                        <li>客户反馈</li>
                        <li>梁四百科</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>联系我们</li>
                        <li>联系方式</li>
                        <li>公司总部</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>帮助中心</li>
                        <li><img src="" alt=""></li>
                        <li>梁四官方微信</li>
                    </ul>
                </div>
            </div>
            <!--联系我们-->
            <div class="about">
                <div class="warp">
                    <ol>
                        <li>
                            <a href="guanyu.html">关于我们</a>
                        </li>
                        <li>
                            <a href="lianxi.html">联系我们</a>
                        </li>
                        <li>
                            <a href="guanyu.html">公司简介</a>
                        </li>
                        <li>
                            <a href="guanyu.html">企业文化</a>
                        </li>
                        <li>
                            <a href="#">梁四品牌</a>
                        </li>
                        <li>
                            <a href="xinwen.html">新闻资讯</a>
                        </li>
                        <li>
                            <a href="www.baidu.com">友情链接</a>
                        </li>
                        <li>
                            <a href="chanpin.html">产品视频</a>
                        </li>
                        <li>
                            <a href="#">工具社区</a>
                        </li>
                        <li>
                            <a href="#">梁四公益</a>
                        </li>
                        <li>
                            <a href="#">我们的服务</a>
                        </li>
                        <li>
                            <a href="#">Contact U</a>
                        </li>
                    </ol>
                    <p>地址：长沙市望城区丁字新镇南区c1栋 邮编：410200 电话：18182102306 邮箱:1263609326@qq.com</p>
                    <p>京ICP备08001421号京公网备110108007702</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>