<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content/>
    <link rel="shortcut icon" href="梁.ico" />
    <!-- ico图标的引入 -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <!-- 公共样式的引入 -->
    <link rel="stylesheet" type="text/css" href="css/lianxi.css">
    <!-- 当前页面的样式引入 -->
    <title>联系我们-长沙市梁四工具有限公司</title>
    <!-- 网页的标题，搜索引擎的入口 -->
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
        }
        
        .iw_poi_title {
            color: #CC5522;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            padding-right: 13px;
            white-space: nowrap
        }
        
        .iw_poi_content {
            font: 12px arial, sans-serif;
            overflow: visible;
            padding-top: 4px;
            white-space: -moz-pre-wrap;
            word-wrap: break-word
        }
        .chanpin-contet-left .x-text2 li:nth-of-type(1) a{
            color: #fff;
            background-color: chocolate;
        } 
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>

<body>
    <!-- 快捷导航栏 -->
    <div class="shourcut">
        <div class="wrap">
            <!-- login -->
            <div class="login fl">
                <a href="#">梁四工具 </a>
                <a href="#">专业制造电动工具</a>
            </div>
            <!-- nav -->
            <ul class="nav fr">
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li>
                    <!-- <span class="iconfont">&#xe63c;</span> -->
                    <a href="guanyu.php">公司简介</a>
                </li>
                <li>
                    <a href="lianxi.php">联系我们</a>
                    <span class="iconfont">&#xe657;</span>
                </li>
                <li class="line"></li>
                <li class="item_mobile">
                    <!-- <span class="iconfont">&#xe615;</span> -->
                    <a href="kehu.php">客户服务</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 搜索分区 -->
    <div class="search">
        <div class="wrap">
            <!--logo分区-->
            <h1 class="logo fl">
                梁四工具
            </h1>
            <!-- search分区 -->
            <div class="search-center fl">
                <!--表单搜索分区-->
                <div class="soso">
                    <form action="">
                        <input type="search" placeholder="输入关键词" autofocus class="fl" />
                        <input type="button" value="搜索" class="fl">
                    </form>
                </div>
                <!-- 子导航分区 -->
                <ul class="nav-list">
                    <li><a href="#">指电钻</a></li>
                    <li><a href="#">磁座钻</a></li>
                    <li><a href="#">攻丝机</a></li>
                    <li><a href="#">电剪刀</a></li>
                    <li><a href="#">电动刀锯</a></li>
                    <li><a href="#">切割机</a></li>
                    <li><a href="#">砂轮机</a></li>
                    <li><a href="#">磨光机</a></li>
                    <li><a href="#">电板手</a></li>
                    <span>&nbsp;&nbsp;...</span>
                </ul>
            </div>
            <!--联系电话分区-->
            <div class="phone fl">
                <span class="iconfont" id="gouwu">&#xe611;</span>
                <span class="lxdh">联系电话：
                    <br>1815379916</span>
            </div>
        </div>
    </div>
    <!-- navitems -->
    <div class="navs">
        <div class="wrap">
            <ul>
                <li class="dropdown fl"><a href="index.php">首页</a></li>
            </ul>
            <ul class="navitems fl">
                <li><a href="guanyu.php">关于我们</a></li>
                <li><a href="chanpin.php">产品展示</a></li>
                <li><a href="xinwen.php">新闻资讯</li>
                <li><a href="kehu.php">客户中心</a></li>
                <li><a href="chenggong.php">成功案例</a></li>
                <li><a href="lianxi.php">联系我们</a></li>
            </ul>
            <div class="divlist">

            </div>
        </div>
    </div>
    <!--banner分区-->
    <div class="banner">
        <div class="wrap">
            <div class="banner_text">
                <h2 class="banner_t">联系我们</h2>
                <b></b>
                <p class="banner_p">CONTACT US</p>
                <a href="#mao1"><i></i></a>
            </div>
        </div>
    </div>
    <!--conten分区-->
    <div class="content">
        <div class="wrap">
            <!--左侧栏目-->
            <div class="chanpin-contet-left fl">
                <a name="mao1"></a>
                <div class="title">
                    联系我们
                    <span>about</span>
                </div>
                <div class="x-text">
                    <ul class="x-text2">
                        <li><a href="">
                            联系方式
                            <span style="color: #fff;">＞</span>
                        </a></li>
                    </ul>
                </div>
            </div>
            <!--右侧内容-->
            <div class="chanpin-contet-right fr">
                <div class="right-title">
                    <div class="mbx">
                        你现在的位置：首页 > 联系我们
                    </div>
                </div>
                <div class="bottom-cont">
                    <div class="cont" style="margin-left: 70px;">
                        <!--百度地图容器-->
                        <div style="width:697px;height:550px;border:#ccc solid 1px;" id="dituContent"></div>
                    </div>
                </div>
                <div class="dizhi"><strong>LS电动工具有限公司</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="background: url(./img/dz_ico.png) no-repeat left center;">公司地址：湖南省长沙市大新镇产业园（XXXXX）</span><span style="background: url(./img//dh_ico.png) no-repeat left center;">服务电话：18153799016</span></div>
            </div>
        </div>

    </div>
    <!--尾部-->
    <div class="footer">
        <div class="wrap">
            <!--指南-->
            <div class="guide">
                <div class="wrap">
                    <ul>
                        <li>关于我们</li>
                        <li>公司简介</li>
                        <li>企业文化</li>
                        <li>荣誉资质</li>
                        <li>视频剪影</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>产品展示</li>
                        <li>新品上市</li>
                        <li>热卖推荐</li>
                        <li>电动工具</li>
                        <li>仪器工具</li>
                        <li>手动工具</li>
                        <li>附件</li>
                    </ul>
                    <ul>
                        <li>新闻资讯</li>
                        <li>品牌动态</li>
                        <li>行业资讯</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>客户中心</li>
                        <li>营销网络</li>
                        <li>防伪查询</li>
                        <li>下载专区</li>
                        <li>客户反馈</li>
                        <li>梁四百科</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>联系我们</li>
                        <li>联系方式</li>
                        <li>公司总部</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                    <ul>
                        <li>帮助中心</li>
                        <li><img src="" alt=""></li>
                        <li>梁四官方微信</li>
                    </ul>
                </div>
            </div>
            <!--联系我们-->
            <div class="about">
                <div class="warp">
                    <ol>
                        <li>
                            <a href="#">关于我们</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>
                        </li>
                        <li>
                            <a href="#">公司简介</a>
                        </li>
                        <li>
                            <a href="#">企业文化</a>
                        </li>
                        <li>
                            <a href="#">梁四品牌</a>
                        </li>
                        <li>
                            <a href="#">新闻资讯</a>
                        </li>
                        <li>
                            <a href="#">友情链接</a>
                        </li>
                        <li>
                            <a href="#">产品视频</a>
                        </li>
                        <li>
                            <a href="#">工具社区</a>
                        </li>
                        <li>
                            <a href="#">梁四公益</a>
                        </li>
                        <li>
                            <a href="#">我们的服务</a>
                        </li>
                        <li>
                            <a href="#">Contact U</a>
                        </li>
                    </ol>
                    <p>地址：长沙市望城区丁字新镇南区c1栋 邮编：410200 电话：18182102306 邮箱:1263609326@qq.com</p>
                    <p>京ICP备08001421号京公网备110108007702</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        createMap(); //创建地图
        setMapEvent(); //设置地图事件
        addMapControl(); //向地图添加控件
    }

    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent"); //在百度地图容器中创建一个地图
        var point = new BMap.Point(113.018503, 28.147575); //定义一个中心点坐标
        map.centerAndZoom(point, 17); //设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map; //将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging(); //启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom(); //启用地图滚轮放大缩小
        map.enableDoubleClickZoom(); //启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard(); //启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({
            anchor: BMAP_ANCHOR_TOP_LEFT,
            type: BMAP_NAVIGATION_CONTROL_LARGE
        });
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({
            anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
            isOpen: 1
        });
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({
            anchor: BMAP_ANCHOR_BOTTOM_LEFT
        });
        map.addControl(ctrl_sca);
    }


    initMap(); //创建和初始化地图
</script>

</html>