/* 遗留 */

.Navbar .wrap .lefthand a:nth-of-type(6) {
    color: #87ceeb;
    /* background-color: #fafafa; */
    background-color: aliceblue;
}


/* 右侧内容分区 */

.Navbar .wrap .content {
    width: 1233px;
    height: 596px;
    margin-left: 130px;
    border: 2px solid #F0F0F0;
    border-radius: 30px;
    /* background-color: mintcream; */
}

.Navbar .wrap .content .offside {
    padding-left: 100px;
}

.Navbar .wrap .content .offside p {
    padding-top: 30px;
    font-size: 24px;
    color: black;
    font-weight: 500;
}

.Navbar .wrap .content .offside .xiugai {
    margin-left: 100px;
}

.Navbar .content .offside .xiugai {
    font-size: 16px;
    color: #696969;
    padding-top: 20px;
}

.Navbar .content .offside .xiugai option {
    text-align: center;
}

.Navbar .content .offside .xiugai #tijiao {
    width: 70px;
    border: 1px solid #808080;
    background-color: #fafafa;
    color: #696969;
}

.Navbar .content .offside .xiugai #tijiao:hover {
    color: #87ceeb;
    border: 1px solid #87ceeb;
}